.header {
    color: rgba(212,140,22,0.92);
    text-align: center;
}
.menu {
    margin-right: 40px;
    min-width: 100px;
    list-style: none;

}
a {
    text-decoration-line: none;
}

.menu li {
    margin-bottom: 15px;
}